.test-body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}


.test-visual {
  height: 100px;
  width: 100%;
  margin: 0.5rem 0;
}

.test-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 0 1 300px;
  flex: 1 1 300px;
  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
