.about-img-column {
  flex: 33.33%;
  padding: 5px;
  size: 10px;
}
  
  /* Clear floats after image containers */
.about-img-row {
  display: flex;
}

.about-img-size {
  width: 100%;
  height: auto;
}

.about-image-div > img {
  width: 100%;
  height: auto;
}

.about-body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  
}

.about-visual {
  height: 100px;
  width: 100%;
  margin: 0.5rem 0;
  
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.about-parent {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.about-child {
  flex: 0 1 300px;
  flex: 1 1 300px;

  font-size: 1rem;
  text-align: left;
  margin: 1rem;
}


  